<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Query Wikipedia</title>

    <link href="static/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="static/lib/ionic/js/ionic.bundle.js"></script>

    <!-- ngCordova js -->
    <script src="static/lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- angular local storage js -->
    <script src="static/lib/angular-local-storage.js"></script>

    <!-- app's js -->
    <script src="static/js/app.js"></script>
    <script src="static/js/controllers.js"></script>
</head>
<body ng-app="queryWiki" ng-controller="RootCtrl" class="platform-android platform-cordova platform-webview">

<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar type="bar-positive"
                     back-button-type="button-icon"
                     back-button-icon="ion-ios7-arrow-back"
                     animation="nav-title-slide-ios7"
                >
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-positive">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content has-header="true">
            <ul class="list">
                <a ui-sref="tab.wikipedia-articles" class="item" ng-click="search()">Search</a>
                <a ui-sref="tab.wikipedia-articles" class="item" ng-click="filterByTitle(true)">Filter</a>
                <a ui-sref="tab.wikipedia-articles" class="item"
                   ng-click="openNewWindow('https://www.linkedin.com/pub/austin-jung/29/454/504')">LinkedIn</a>
                <a ui-sref="tab.wikipedia-articles" class="item"
                   ng-click="openNewWindow('http://sharemedia.cloudapp.net/static/resume.pdf')">Resume</a>
            </ul>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>

</body>
</html>
