<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-left tabs-positive">

    <!-- Wikipedia Articles Tab -->
    <ion-tab icon-off="ion-ios-cloud-download-outline" icon-on="ion-ios-cloud-download" href="#/tab/wikipedia-articles">
        <ion-nav-view name="tab-wikipedia-articles"></ion-nav-view>
    </ion-tab>

    <!-- Bookmarks Tab -->
    <ion-tab icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/bookmarks">
        <ion-nav-view name="tab-bookmarks"></ion-nav-view>
    </ion-tab>


</ion-tabs>
